---
import {cn} from "@/lib/utils"

// PROPS ***********************************************************************************************************************************
const {class: className, ...props} = Astro.props

// TYPES ***********************************************************************************************************************************
type Props = astroHTML.JSX.LiHTMLAttributes
export type {Props as BreadcrumbItemProps}
---

<li class={cn("inline-flex items-center gap-1.5", className)} {...props}>
  <slot />
</li>
