---

// PROPS ***********************************************************************************************************************************
const props = Astro.props

// TYPES ***********************************************************************************************************************************
type Props = astroHTML.JSX.HTMLAttributes
export type {Props as BreadcrumbProps}
---

<nav aria-label="breadcrumb" {...props}>
  <slot />
</nav>
