---
import {cn} from "@/lib/utils"

// PROPS ***********************************************************************************************************************************
const {class: className, ...props} = Astro.props

// TYPES ***********************************************************************************************************************************
type Props = astroHTML.JSX.LiHTMLAttributes
export type {Props as BreadcrumbSeparatorProps}
---

<li role="presentation" aria-hidden="true" class={cn("[&>span]:size-3.5 [&>span]:block", className)} {...props}>
  <slot>
    <span class="i-lucide-chevron-right"></span>
  </slot>
</li>
