---
import {CONTENT} from "."

const {class: className, ...props} = Astro.props
export interface Props extends astroHTML.JSX.HTMLAttributes {}
---

<div class={CONTENT({className})} {...props}>
  <slot />
</div>
