---
import {cn} from "@/lib/utils"

// PROPS ***********************************************************************************************************************************
const {class: className, ...props} = Astro.props

// TYPES ***********************************************************************************************************************************
export interface Props extends astroHTML.JSX.HTMLAttributes {}
---

<div class={cn("text-sm [&_p]:leading-relaxed", className)} {...props}>
  <slot />
</div>
