---
import {cn} from "@/lib/utils"

// PROPS ***********************************************************************************************************************************
const {class: className, ...props} = Astro.props

// TYPES ***********************************************************************************************************************************
export interface Props extends astroHTML.JSX.HTMLAttributes {}
---

<h5 class={cn("mb-1 font-medium leading-none tracking-tight", className)} {...props}>
  <slot />
</h5>
