---
import Layout from "@/layouts/layout.astro"
import HomeAbout from "./_/about.astro"
import HomeHero from "./_/hero.astro"
import HomeLastPosts from "./_/last-posts.astro"
import HomeNewsletter from "./_/newsletter.astro"
import HomeServices from "./_/services.astro"

// CACHE ***********************************************************************************************************************************
Astro.response.headers.set("cache-control", "public, max-age=0, must-revalidate")
Astro.response.headers.set("netlify-cdn-cache-control", "s-maxage=31536000")
Astro.response.headers.set("netlify-cache-tag", "home, contact, services, posts")
---

<Layout title="Accueil">
  <main class="flex flex-1 flex-col items-center justify-between">
    <HomeHero />
    <HomeServices />
    <HomeAbout />
    <HomeLastPosts />
    <HomeNewsletter />
  </main>
</Layout>
