---
import {Alert, AlertDescription, AlertTitle} from "../ui/alert"
---

<div class="col-span-12 flex items-center justify-center">
  <Alert class="w-auto">
    <AlertTitle>Revenez prochainement!</AlertTitle>
    <AlertDescription>Il n&apos;y a actuellement encore aucun article.</AlertDescription>
  </Alert>
</div>
