---
import {TITLE} from "."

// PROPS ***********************************************************************************************************************************
const {class: className, ...props} = Astro.props

// TYPES ***********************************************************************************************************************************
export interface Props extends astroHTML.JSX.HTMLAttributes {}
---

<h3 class={TITLE({className})} {...props}>
  <slot />
</h3>